<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.umc_hackathon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Umc_hackathon">

        <activity
            android:name=".MySurveyActivity"
            android:exported="false" />
        <activity
            android:name=".post.ParticipatedSurveyActivity"
            android:exported="false" />
        <activity
            android:name=".post.InterestSurveyActivity"
            android:exported="false" />
        <activity
            android:name=".MyPointActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".auth.MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".post.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".auth.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".FormCreateActivity"
            android:exported="false" />
        <activity
            android:name=".FormInputActivity"
            android:exported="false" />
        <activity
            android:name=".FormDetailActivity"
            android:exported="false" />
        <activity
            android:name=".post.FormListActivity"
            android:exported="false" />
    </application>

</manifest>